* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
:root {
  --primary-green: hsl(160deg, 100%, 30%);
  --secondary-gold-lighter: hsl(45deg, 100%, 50%);
  --secondary-gold-darker: hsl(45deg, 100%, 40%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray-medium: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

html {
  font-size: 18px;
}

h1,
h2 {
  margin: 0;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.intro-chunk {
  padding: 96px 0;
  max-width: 400px;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.intro-chunk p strong {
  color: var(--primary-green);
}

.intro-chunk .title {
  font-size: 2rem;
  margin-bottom: 32px;
}

main {
  background: var(--gray-light);
  padding: 96px 0;
}

.card {
  background-color: var(--white);
  padding: 24px;
  margin: -24px;
  border-bottom: 8px solid var(--gray-medium);
}

.card p:last-child {
  margin-bottom: 0;
}

.indented-heading {
  background-color: var(--secondary-gold-lighter);
  margin-left: -32px;
  margin-top: -16px;
  padding: 16px 32px;
  width: fit-content;
  border-bottom: 8px solid var(--secondary-gold-darker);
}

header {
  border-bottom: 8px solid var(--gray-medium);
}
